@using ShoeStore.Entities;
@using ShoeStore.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var cart = (Session[CommonConstants.CART_SESSION] as Carts !=null)? Session[CommonConstants.CART_SESSION] as Carts: new Carts();

}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tên sản phẩm")
            </th>
            <th>
                @Html.DisplayName("Giá")
            </th>
            <th>
                @Html.DisplayName("Hình")
            </th>
            <th>
                @Html.DisplayName("Số lượng")
            </th>
            <th>
                @Html.DisplayName("Tiền")
            </th>
            <th></th>
        </tr>

        @foreach (var item in cart.products)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <img src="~/Images/air.png" width="170" height="160" />

        </td>
        <td>
            <form action="@Url.Action("UpdateAmount")" method="get">
                <input type="hidden" name="ProductId" value="@item.ProductId" />
                <input type="number" min="1" step="1" name="newAmount" value="@item.Quantity" />
                <button type="submit" class="btn btn-primary btn-sm"> Cập nhật </button>
            </form>

        </td>
        <td> @item.Price VNĐ </td>


        <td> <a href="@Url.Action("RemoveItem",new { ProductId = item.ProductId})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a> </td>

    </tr>
        }
        <tr>
            <td></td>
            @*<td class="text-right">Tổng số lượng:</td>
            <td> @Model.Sum() </td>*@
            <td class="text-right">Tổng thành tiền:</td>
            <td>@cart.ThanhTien VNĐ </td>
        </tr>
    </table>
    <a class="btn btn-danger mx-auto d-block mx-5 my-3" href="@Url.RouteUrl("ThanhToan")">Thanh toán</a>


