
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container" style="background-color: #F2F2F2; padding: 50px;">

        <div class="d-flex justify-content-between mb-3">
            <h3 class="fw-bold">Quản Lý Sản Phẩm</h3>
            @*<form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>*@
        </div>
        <a href="@Url.RouteUrl("ThemSP")" class="btn btn-success mb-3" style="border-radius: 1.5rem;  width: 20%;">Thêm sản phẩm</a>
        <div class="form-horizontal" style="background-color: white; padding: 30px; border-radius: 1rem">
            <div class="">
                <table class="table table-hover">

                    <tr>
                        <th>
                            <label>Stt</label>
                        </th>
                        <th>
                            <label>Tên</label>
                        </th>
                        <th>
                            <label>Giá</label>
                        </th>
                        <th>
                            <label>Loại</label>
                        </th>
                        <th>
                            <label>Ngày</label>
                        </th>
                        <th>
                            <label>Mô tả</label>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in ViewBag.Products)
                    {
                        <tr>
                            <td>
                                @item.ProductId
                            </td>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                @item.ProductPrice
                            </td>
                            <td>
                                @item.CategoryName
                            </td>
                            <td>
                                @item.Date
                            </td>
                            <td>
                                @item.Description
                            </td>

                            <td>
                                @Html.ActionLink("Sửa", "SuaSanPham", new { id = item.ProductId }, new { @class = "btn btn-outline-success mx-auto w-100", @style = "border-radius: 1.5rem;  " })
                            </td>
                            <td>
                                @Html.ActionLink("Thêm ảnh", "ThemImage", new { id = item.ProductId }, new { @class = "btn btn-success mx-auto w-100", @style = "border-radius: 1.5rem;  " })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
}


