@model ShoeStore.Models.GetProducts_Result
@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="background-color: #F2F2F2; padding: 50px; margin: auto">
        <div class="form-horizontal w-50 mx-auto" style="background-color: white; padding: 30px; border-radius: 1rem">
            <h4>Sửa</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <hr />
            <div class="row">
                <div class="col">
                    <label for="" class="form-label my-3">Tên</label>
                    <input type="text" name="ProductName" class="form-control" value="@ViewBag.sua.ProductName" />
                </div>
                <div class="col">
                    <label for="" class="form-label my-3">Giá</label>
                    <input type="text" name="ProductPrice" class="form-control" value="@ViewBag.sua.ProductPrice" />
                </div>

            </div>

            <div class="row ">
                <div class="col">
                    <label for="" class="form-label my-3">Loại</label>
                    <input type="text" name="ProductCategory" class="form-control" value="@ViewBag.sua.ProductCategory" />
                </div>
                <div class="col">
                    <label for="" class="form-label my-3">Mô tả</label>
                    <input type="text" name="Description" class="form-control" value="@ViewBag.sua.Description" />
                </div>

            </div>
            <div class="d-flex justify-content-end text-lg-end">
                @Html.ActionLink("Hủy", "manager", "Product", new { @class = "btn btn-outline-success mt-3", @style = "border-radius: 1.5rem;  width: 100px;" })
                <button class="btn btn-success mt-3" name="ProductID" style="border-radius: 1.5rem; width: 100px; margin-left: 15px;" type="submit" value="@ViewBag.sua.ProductId">Sửa</button>
            </div>
        </div>
    </div>
}



<form action="@Url.RouteUrl("ThemThongTin")" method="post">
    <div class="container" style="background-color: #F2F2F2; padding: 50px; margin: auto">
        <div class="form-horizontal w-50 mx-auto" style="background-color: white; padding: 30px; border-radius: 1rem">
            <h4>Thêm thông tin</h4>


            <hr />
            <div class="row">
                <div class="col">
                    <label for="" class="form-label my-3">Màu</label>
                    <select name="mau" id="">
                        @foreach (var color in ViewBag.Color)
                        {
                            <option value="@color.ColorId">@color.ColorName</option>
                        }
                    </select>
                </div>
                <div class="col">
                    <label for="" class="form-label my-3">Kích cỡ</label>
                    <select name="size" id="">
                        @foreach (var size in ViewBag.Size)
                        {
                            <option value="@size.SizeId">@size.SizeValue</option>
                        }
                    </select>
                </div>

            </div>

            <div class="row ">
                <div class="col">
                    <label for="" class="form-label my-3">Số lượng</label>
                    <input type="text" name="Soluong" class="form-control" value="" />
                </div>

            </div>
            <div class="d-flex justify-content-end text-lg-end">

                <button class="btn btn-success mt-3" name="ProductID" style="border-radius: 1.5rem; width: 100px; margin-left: 15px;" type="submit" value="@ViewBag.sua.ProductId">Thêm</button>
            </div>
        </div>
    </div>
</form>
