
@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="background-color: #F2F2F2; padding: 50px; margin: auto">
        <div class="form-horizontal w-50 mx-auto" style="background-color: white; padding: 30px; border-radius: 1rem; width: 50%;">
            <h4 style="text-align:center;">Xác nhận xóa sản phẩm?</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <label for="" class="form-label my-3">Tên</label>
                </dt>

                <dd>
                    @ViewBag.xoa.ProductName
                </dd>

                <dt>
                    <label for="" class="form-label my-3">Giá</label>
                </dt>

                <dd>
                    @ViewBag.xoa.ProductPrice
                </dd>


                @*<dt>
            <label for="" class="form-label my-3"></label>
        </dt>

        <dd>
            @ViewBag.xoa.ProductViewer
        </dd>*@

                <dt>
                    <label for="" class="form-label my-3">Số lượng</label>
                </dt>

                <dd>
                    @ViewBag.xoa.Quantity
                </dd>

                <dt>
                    <label for="" class="form-label my-3">Ngày</label>
                </dt>

                <dd>
                    @ViewBag.xoa.Date
                </dd>

                <dt>
                    <label for="" class="form-label my-3">Mô tả</label>
                </dt>

                <dd>
                    @ViewBag.xoa.Description
                </dd>
            </dl>



            <div class="form-actions no-color" style="display:flex; justify-content: center;">

                @Html.ActionLink("Hủy", "manager", "Product", new { @class = "btn btn-outline-success m-1", @style = "border-radius: 1.5rem;  width: 100px;" })
                <button class="btn btn-success m-1" name="ProductID" style="border-radius: 1.5rem; width: 100px; margin-left: 15px;" type="submit" value="@ViewBag.xoa.ProductId">Xóa</button>

            </div>

        </div>
    </div>
}

