
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="detail-main-wrapper">
    <!-- Phần trên-->
    <div class="detail-main">
        <!-- Hình detail-->
        <div class="detail-main-image-wrapper">
            <div class="detail-main-image">
                <img src="~/Images/air.png" />
            </div>
            <div class="detail-sub-image-wrapper">
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
            </div>
        </div>
        <div class="detail-main-info-wrapper">
            <div class="detail-info-name">@ViewBag.ProductDetail.ProductName</div>
            <div class="detail-info-category">@ViewBag.ProductDetail.CategoryName</div>
            <div class="detail-info-price">@ViewBag.ProductDetail.ProductPrice đ</div>
            <div class="detail-info-description">
                @ViewBag.ProductDetail.Description
            </div>
            <div class="detail-info-size">
                <span>Size</span>
                <select name="size" id="size">
                    @foreach (var size in ViewBag.Size)
                    {
                        <option value="@size.SizeId">@size.SizeValue</option>
                    }
                </select>
            </div>
            <div class="detail-info-color">
                <span>Color</span>
                <select name="color" id="color">
                    @foreach (var color in ViewBag.Color)
                    {
                        <option value="@color.ColorId">@color.ColorName</option>
                    }
                </select>
            </div>
            <div class="detail-info-action">
                <button id="themgiohang"><a style="color:inherit" class="text-decoration-none" @*href="@Url.RouteUrl("ThemGioHang",ViewBag.ProductDetail.ProductId)"*@>Add to cart</a></button>
                <button>Favorite</button>
            </div>
            <div class="detail-info-terms">Free Delivery and Returns</div>
            <div class="detail-info-review">Reviews (360)</div>
        </div>
    </div>
    <!-- Phần dưới-->
    <div class="detail-sub"></div>
</div>



<script>
    $("#themgiohang").click(function () {
        let size = document.querySelector('#size');
        let color = document.querySelector('#color');

        $.ajax({
            type: "POST",
            url: "@Url.RouteUrl("ThemGioHang")",
            data: { id: "@ViewBag.ProductDetail.ProductId", size: size.value , color : color.value },
            success: function (msg) {
                alert(msg);
            }
        });
    });
</script>


@section Styles
{
    <style type="text/css">
        .detail-main-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1920px;
            margin: 100px auto;
        }

            .detail-main-wrapper .detail-main {
                display: flex;
                width: 100%;
                gap: 100px;
                justify-content: center;
            }

                .detail-main-wrapper .detail-main .detail-main-image-wrapper {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 30%;
                    gap: 10px;
                }

                    .detail-main-wrapper .detail-main .detail-main-image-wrapper .detail-main-image {
                        width: 100%;
                    }

                        .detail-main-wrapper .detail-main .detail-main-image-wrapper .detail-main-image img {
                            width: 100%;
                            aspect-ratio: 16/9;
                            object-fit: cover;
                        }

                    .detail-main-wrapper .detail-main .detail-main-image-wrapper .detail-sub-image-wrapper {
                        display: flex;
                        flex-basis: 50%;
                        object-fit: cover;
                        gap: 10px;
                    }

                        .detail-main-wrapper .detail-main .detail-main-image-wrapper .detail-sub-image-wrapper .detail-sub-image-item {
                        }

                            .detail-main-wrapper .detail-main .detail-main-image-wrapper .detail-sub-image-wrapper .detail-sub-image-item img {
                                width: 100%;
                                object-fit: cover;
                                aspect-ratio: 1/1;
                            }

                .detail-main-wrapper .detail-main .detail-main-info-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    flex-basis: 40%;
                }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-name {
                        font-weight: 600;
                        font-size: 2.2em;
                    }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-category {
                        font-size: 1.2em;
                    }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-price {
                        font-weight: 600;
                        font-size: 1.3em;
                    }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-description {
                        width: 60%;
                        font-size: 1.05em;
                    }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-size {
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        gap: .3em;
                    }

                        .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-size select {
                            width: max-content;
                            padding: 0.3em 5em 0.3em 0.5em;
                            font-size: medium;
                        }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-color {
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        gap: .3em;
                    }

                        .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-color select {
                            width: max-content;
                            padding: 0.3em 5em 0.3em 0.5em;
                            font-size: medium;
                        }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-action {
                        display: flex;
                        width: 100%;
                        gap: 1em;
                        margin-top: .8em;
                    }

                        .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-action button {
                            flex-basis: 25%;
                            height: 2.5em;
                            border-radius: 50px;
                            background-color: white;
                            font-size: 1.1em;
                            border-width: 1px;
                            cursor: pointer;
                        }

                            .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-action button:hover {
                                background-color: black;
                                color: white;
                            }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-terms {
                        font-weight: 600;
                    }

                    .detail-main-wrapper .detail-main .detail-main-info-wrapper .detail-info-review {
                        font-weight: 600;
                    }

    </style>
}

