    
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="detail-main-wrapper">
    <!-- Phần trên-->
    <div class="detail-main">
        <!-- Hình detail-->
        <div class="detail-main-image-wrapper">
            <div class="detail-main-image">
                <img src="~/Images/air.png" />
            </div>
            <div class="detail-sub-image-wrapper">
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
                <div class="detail-sub-image-item">
                    <img src="~/Images/air.png" />
                </div>
            </div>
        </div>
        <div class="detail-main-info-wrapper">
            <div class="detail-info-name">@ViewBag.ProductDetail.ProductName</div>
            <div class="detail-info-category">@ViewBag.ProductDetail.CategoryName</div>
            <div class="detail-info-price">@ViewBag.ProductDetail.ProductPrice đ</div>
            <div class="detail-info-description">
                @ViewBag.ProductDetail.Description
            </div>
            <div class="detail-info-size">
                <span>Size</span>
                <select name="size" id="">
                    @foreach (var size in ViewBag.Size)
                    {
                        <option value="@size.SizeId">@size.SizeValue</option>
                    }                   
                </select>
            </div>
            <div class="detail-info-color">
                <span>Color</span>
                <select name="color" id="">
                    @foreach (var color in ViewBag.Color)
                    {
                        <option value="@color.ColorId">@color.ColorName</option>
                    }
                </select>
            </div>
            <div class="detail-info-action">
                <button><a style="color:inherit" class="text-decoration-none" href="@Url.RouteUrl("ThemGioHang",ViewBag.ProductDetail.ProductId)">Add to cart</a></button>
                <button>Favorite</button>
            </div>
            <div class="detail-info-terms">Free Delivery and Returns</div>
            <div class="detail-info-review">Reviews (360)</div>
        </div>
    </div>
    <!-- Phần dưới-->
    <div class="detail-sub"></div>
</div>

